.Pokegame {
   max-width: 80%;
   margin-right: auto;
   margin-left: auto;
}

.Pokegame-scores {
    margin-top: 10px;
    margin-bottom: 0;
    animation: fadeIn2 .7s ease-in both;
}

.Pokegame-scores h2 {
    margin-bottom: 0;
    margin-top: 0;
}

.Pokedex:first-of-type {
    margin-bottom: 15px;
}

@keyframes fadeIn2 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadeIn1 {
    0% {
        opacity: (0);
    }
    50% {
        opacity: (1);
    }
    100% {
        opacity: (0);
    }
}

.Pokegame button {
    height: 2rem;
    width: 8rem;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0;
    border-radius: 5px;
    box-shadow: 3px 3px 2px #999;
    outline: none;
    border: none;
    background: lightgreen;
}
.Pokegame button:active {
    transform: translate(2px, 2px);
    box-shadow: 1px 1px 1px #777;
}

@media (max-width: 720px) {
    .Pokegame {
        width:100%;
    }
}