
.Pokedex {
    margin-top: .5rem;
    display: flex;
    flex-direction: row;
    font-family: arial, sans-serif;
    justify-content: space-around;
}

.Pokedex-winner {
    background: #333;
    border: 1px solid lime;
    border-radius: 25px;
    color: lime;
    margin-left: auto;
    margin-right: auto;
    width: 90%; 
}

.Pokedex-loser {
    background: #333;
    border: 1px solid red;
    border-radius: 25px;
    color: red;
    margin-left: auto;
    margin-right: auto;
    width: 90%; 
}

@media (max-width: 720px) {
    .Pokedex {
        justify-content: space-between;
    }  
    .Pokedex-winner {
        width: 100%;
    }
}


